{% extends 'ej/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    {% if course %}
    <h2>{{ course.coursetitle }}</h2>
    <div class="row-fluid">
        <div id="div-course-detail" course_id="{{ course.id }}" class="span4">
            <h4>Course information</h4>
            <ul>
                <li>Department: {{ course.departmentcode }}</li>
                <li>Course Number: {{ course.coursenumber }}</li>
                <li>Upper Units: {{ course.upperunits }}</li>
                <li>Lower Units: {{ course.lowerunits }}</li>
                <li>Course Description: {{ course.coursedescription }}</li>
            </ul>
        </div>

        <div class="span3">
            <h4>Skills</h4>
            <ul>
                {% for skill in course.skillsLists.all %}
                <li class="course-detail-each-skill" skillid="{{ skill.id }}">{{ skill.skill }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="span5">
                        <h4>Related jobs</h4>
            <div id="course-related-jobs">
                {% if related_jobs %}
                <ul>
                    {% for job in related_jobs %}
                    <li class="related-jobs-list" jobid="{{ job.job_id }}"><a href="http://www.linkedin.com/jobs2/view/{{ job.job_id }}/">{{ job.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <strong>Error retrieving the course.</strong>
    {% endif %}
</div>
<script type="text/javascript" src="{% static 'js/ej-ajax-courses.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ej-ajax-highlight-skills-course-detail.js' %}"></script>
{% endblock %}
