<p class="nav-header">View Jobs By</p>
<ul>
    <li class="quick_ref_related_jobs" view-by="all" course-id="{{ course_id }}">All</li>
    <li class="quick_ref_related_jobs" view-by="industry" course-id="{{ course_id }}">Industry</li>
    <li class="quick_ref_related_jobs" view-by="company" course-id="{{ course_id }}">Company</li>
    <li class="quick_ref_related_jobs" view-by="functions" course-id="{{ course_id }}">Functions</li>   
    <li class="quick_ref_related_jobs" view-by="experience" course-id="{{ course_id }}">Experience</li>
    <li class="quick_ref_related_jobs" view-by="country" course-id="{{ course_id }}">Country</li>
    <li class="quick_ref_related_jobs" view-by="posted" course-id="{{ course_id }}">Posted Date</li>
</ul>
    <div id="quick-ref-related-jobs"></div>

