<p class="nav-header">View Jobs By</p>
<ul>
    <li class="quick_ref_related_jobs" view-by="all" course-id="{{ course_id }}">All</li>
    <li class="quick_ref_related_jobs" view-by="industry" course-id="{{ course_id }}">Industry</li>
    <li class="quick_ref_related_jobs" view-by="company" course-id="{{ course_id }}">Company</li>
    <li class="quick_ref_related_jobs" view-by="functions" course-id="{{ course_id }}">Functions</li>   
    <li class="quick_ref_related_jobs" view-by="experience" course-id="{{ course_id }}">Experience</li>
    <li class="quick_ref_related_jobs" view-by="country" course-id="{{ course_id }}">Country</li>
    <li class="quick_ref_related_jobs" view-by="posted" course-id="{{ course_id }}">Posted Date</li>
    <div id="quick-ref-related-jobs"></div>
    <div id="selected-filter-related-jobs"> 
        <ul>
            <li class="selected-related-jobs-filter" id="selected-filter-industry" course-id="{{ course_id }}" thefield="industry" style="display:none"></li>
            <li class="selected-related-jobs-filter" id="selected-filter-company" course-id="{{ course_id }}" thefield="company" style="display:none"></li>
            <li class="selected-related-jobs-filter" id="selected-filter-functions" course-id="{{ course_id }}" thefield="functions" style="display:none"></li>
            <li class="selected-related-jobs-filter" id="selected-filter-experience" course-id="{{ course_id }}" thefield="experience" style="display:none"></li>
            <li class="selected-related-jobs-filter" id="selected-filter-country" course-id="{{ course_id }}" thefield="country" style="display:none"></li>
            <li class="selected-related-jobs-filter"  id="selected-filter-posted" course-id="{{ course_id }}" thefield="posted" style="display:none"></li>
        </ul>
    </div>
</ul>

