.hovered_skills {
    color: #003399;
    font-weight: bold;
}

.related_jobs_filter_select {
    font-weight: bold;
}

footer {
    position: fixed;
    height: 13%;
    bottom: 0;
    width: 100%;
}
