.hovered_skills {
    color: #003399;
    font-weight: bold;
}

.related_jobs_filter_select {
    font-weight: bold;
}

html, body {
    height: 88%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px 0;
    padding: 0 0 60px 0;
}

footer {
    height: 60px;
    width: 100%;
}
